:root {
    --white: #fffefa;
    --yellow: #e6c12e;
    --grey: #4b4949;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--white);
}

header {
    text-align: center;
    padding: 25px;
    background-color: var(--grey);
    opacity: 95%;

    h1 {
        color: var(--yellow);
        font-size: 50px;
        padding: 10px;
        text-shadow: #000000 6px 6px 1px;
        letter-spacing: 6px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        a {
            color: var(--yellow);
            font-size: 30px;
            text-decoration: none;
            text-shadow: #000000 6px 6px 1px;
        }
    }
    /* border: 2px red solid; */
}

.nav-btn {
    color: var(--yellow);
}

.nav-btn:hover {
    color: var(--white);
}

#nutrient-form {
    padding: 5px;
    input {
        padding: 5px;
        margin: 10px;
        border-radius: 5px;
    }
}

#ntrDiv {
    h2 {
        font-size: 25px;
    }
}
